<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="We make them into the amazing jewelleries and decorations through polymer clay, shrinky dinks, artistic wire and resin." >
    <meta name="keywords" content="JJC, jjc design, polymer clay, china doll, cartoon, handcraft, workshop, jewellery, decoration, shrinky dinks, artistic wire, resin">
    <meta name="author" content="">

    <title>J.J.C</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->

</head>

<body id="page-top" class="index" ng-app="JJC">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">J.J.C Design</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Gallery</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To Our Workshop!</div>
                <div class="intro-heading">It's Nice To Meet You</div>
                <a href="#portfolio" class="page-scroll btn btn-xl">Our work</a>
            </div>
        </div>
    </header>
    <!-- Portfolio Grid Section (Gallery) -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Gallery</h2>
                    <h3 class="section-subheading text-muted">A story about love lasts forever</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/Jewlery/Earings/culture.jpeg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Jewelry</h4>
                        <!--<p class="text-muted">by Jenny</p>-->
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/HomeDecor/Character/Animation/cartoon7.jpeg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Home Décor</h4>
                        <!--<p class="text-muted">by Jenny</p>-->
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/Shrinker/shrinkers.jpeg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Shrinker</h4>
                        <!--<p class="text-muted">Good stuff</p>-->
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/Driftbottle/bottle.jpeg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Drift Bottle</h4>
                        <!--<p class="text-muted">by Jenny</p>-->
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/Accessory/chain/cartoon.jpeg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Accessories</h4>
                        <!--<p class="text-muted">by Jenny</p>-->
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/Papercut/paper.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Paper-cut</h4>
                        <!--<p class="text-muted">all by Jenny</p>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Designer</h2> <br/>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/author.jpg" class="img-responsive img-circle" alt="">
                        <h4>Jenny</h4>
                        <h3 class="section-subheading text-muted">
                            Hi! Welcome to my aesthetic fairy tale world~ <br/>
                            There are many original ideas in our workshop. <br/><br/>
                            We make them into the amazing jewelleries and decorations through polymer clay, shrinky dinks, artistic wire and resin. <br/><br/>
                            Hope our stuff make you happy. Enjoy!</h3>
                        <!--<p class="text-muted">Lead Designer</p>-->
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="team-member">
                        <img src="img/workshop.JPG" class="img-responsive" alt="">
                        <!--<h4>and her workshop</h4>-->
                        <!--<p class="text-muted">Lead Marketer</p>-->
                    </div>
                </div>
            </div>
            <!--<div class="row">-->
                <!--<div class="col-lg-8 col-lg-offset-2 text-center">-->
                    <!--<p class="large text-muted">We hope our stuff make you happy. Enjoy!</p>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </section>

    <footer id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Find us at:</strong>
                    </h4>
                    <p>North York<br>Toronto, ON</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> (647) 995-8136</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:jjcdesign16@gmail.com">jjcdesign16@gmail.com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/JJC-Design-183564045332585/"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/jjc_design"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#barcodeModal" class="portfolio-link" data-toggle="modal"><i class="fa fa-wechat fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="https://www.etsy.com/ca/shop/JJCDesign?ref=hdr_shop_menu"><i class="fa fa-credit-card fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; J.J.C Design 2016</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container" ng-controller="MainCtrl">
                <div class="row" ng-repeat="item in gallery.jewlery">
                    <div class="col-lg-12">
                        <h1 class="page-header">{{item.title}}</h1>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb" ng-repeat="img in item.imageList">
                        <a class="thumbnail" href="#">
                            <img class="img-responsive" src="{{img}}" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container" ng-controller="MainCtrl">
                <div class="row" ng-repeat="item in gallery.homedecor">
                    <div class="col-lg-12">
                        <h1 class="page-header">{{item.title}}</h1>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb" ng-repeat="img in item.imageList">
                        <a class="thumbnail" href="#">
                            <img class="img-responsive center-block" src="{{img}}" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container" ng-controller="MainCtrl">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb" ng-repeat="img in gallery.shrinker">
                        <a class="thumbnail" href="#">
                            <img class="img-responsive" src="{{img}}" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container" ng-controller="MainCtrl">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb" ng-repeat="img in gallery.driftbottle">
                        <a class="thumbnail" href="#">
                            <img class="img-responsive" src="{{img}}" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container" ng-controller="MainCtrl">
                <div class="row" ng-repeat="item in gallery.accessory">
                    <div class="col-lg-12">
                        <h1 class="page-header">{{item.title}}</h1>
                    </div>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb" ng-repeat="img in item.imageList">
                        <a class="thumbnail" href="#">
                            <img class="img-responsive" src="{{img}}" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container" ng-controller="MainCtrl">
                <div class="col-lg-3 col-md-4 col-xs-6 thumb" ng-repeat="img in gallery.papercut">
                    <a class="thumbnail" href="#">
                        <img class="img-responsive" src="{{img}}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Barcode-->
    <div class="portfolio-modal modal fade" id="barcodeModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <!--<div class="container">-->
            <img class="img-responsive center-block" src="img/barcode.jpg" alt="">
            <!--</div>-->
        </div>
    </div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="app/bower_components/angular/angular.min.js"></script>
    <script src="js/agency.js"></script>


</body>

</html>
